main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

section {
    width: 746px;
    height: 802px;
}

section div {
    width: 746px;
    height: 352px;
    border-radius: 10px;
    border: solid 1px var(--cor-azul-claro);
    margin-bottom: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 391px;
    height: 292px;
    margin: auto;
}

p {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    color: var(--cor-titulo);
}

h2 {
    text-align: center;
    color: var(--cor-titulo);
}

@media (max-width: 340px) {
    section {
        width: 280px;
        height: 576px;
    }

    section div {
        width: 320px;
        height: 352px;
        border-radius: 10px;
        border: solid 1px var(--cor-azul-claro);
        margin-bottom: 20PX;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        width: 260px;
        height: 292px;
        margin: auto;
    }
    main{
        width: 280px;
    }
}