
:root {
 --cor-azul-claro:#3C9AF0;
 --cor-titulo:#5E5E5E;
 --cor-bg-form:#C8C8C8;
 --cor-bg:#ffff;
 --cor-font-titulo:#ffff;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: var(--cor-bg);
}